/* _features.scss */
// .facts
.facts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px 60px;
}
// .fact
.fact {
  flex: 0 0 270px;
  margin: 0 15px;

  text-align: center;

  // .fact__value
  &__value {
    line-height: 1.2;
    font-weight: 500;

    font-size: 80px;

    font-style: italic;

    color: #e4e4e4;
    text-transform: uppercase;

    &::before,
    &::after {
      content: '';

      display: inline-block;
      width: 13px;
      height: 13px;
      margin: 0 20px;

      vertical-align: middle;

      background-color: #484848;
      border-radius: 3px;
      transform: rotate(45deg);

      transition: background-color 1s;
    }
  }
  // .fact__description
  &__description {
    position: relative;

    padding-top: 30px;

    line-height: 16px;
    font-weight: 800;

    font-size: 14px;
    color: #606060;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 2;

      display: block;
      padding: 0 15px;

      font-size: 20px;
      font-family: $font-family-icons;
      color: #00a99d;

      background-color: #383838;

      transform: translateX(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      z-index: 1;

      display: block;

      width: 100%; //270
      height: 1px;

      background-color: #484848;
    }
  }

  &:hover &__value::before,
  &:hover &__value::after,
  &:focus &__value::before,
  &:focus &__value::after,
  &:active &__value::before,
  &:active &__value::after {
    background-color: #00a99d;
  }
}
