/* ICONS */
.i_desktop::before {
  content: '\e00e';
}

.i_puzzle_alt::before {
  content: '\e0f9';
}

.i_lifesaver::before {
  content: '\e028';
}

.i_key::before {
  content: '\e06e';
}

.i_star::before {
  content: '\e033';
}

.i_menu-square_alt2::before {
  content: '\62';
}

.i_cart::before {
  content: '\e07a';
}

.i_toolbox::before {
  content: '\e085';
}

.i_link_alt::before {
  content: '\e02b';
}

.i_menu::before {
  content: '\61';
}

.i_close::before {
  content: '\4d';
}

.i_search::before {
  content: '\55';
}

.i_heart::before {
  content: '\e089';
}

.i_toolbox_alt::before {
  content: '\e021';
}

.i_box-checked::before {
  content: '\5a';
}

.i_hourglass::before {
  content: '\e0e1';
}

.i_tags::before {
  content: '\e07c';
}

.i_like_alt::before {
  content: '\e0dd';
}

.i_social_facebook::before {
  content: '\e093';
}

.i_social_twitter::before {
  content: '\e094';
}

.i_social_googleplus::before {
  content: '\e096';
}

.i_social_vimeo::before {
  content: '\e09c';
}

.i_social_dribbble::before {
  content: '\e09b';
}

.i_social_pinterest::before {
  content: '\e095';
}

.i_social_rss::before {
  content: '\e09e';
}

.i_social_youtube::before {
  content: '\e0a3';
}

.i_social_linkedin::before {
  content: '\e09d';
}

.i_social_deviantart::before {
  content: '\e09f';
}

.i_social_picassa::before {
  content: '\e0a4';
}

.i_social_tumbleupon::before {
  content: '\e098';
}

.i_mail::before {
  content: '\e076';
}

.i_phone::before {
  content: '\e090';
}
