/* scss/parts/_members.scss */
.members {
  margin-bottom: 72px;
  padding-top: 16px;
  // margin: 0 -15px;
  overflow: hidden;

  & .slider__item {
    padding: 0 5px;
  }

  & .slider__control {
    top: 13%;

    &_next,
    &_prev {
      margin: 0 15px;

      @include mq($bp-tablet) {
        margin: 0 calc(50% - 370px); //width=740px
      }

      @include mq($bp-desktop) {
        margin: 0 calc(50% - 585px); //width=1170px
      }
    }
  }
}

.member {
  position: relative;

  display: flex;
  flex: 0 0 270px;
  flex-direction: column;

  align-items: center;
  max-width: 270px;
  margin: 0 auto;
  overflow: hidden;

  border: 1px solid #dedede;
  border-radius: 5px;

  &__img {
    position: relative;

    width: 100%;
    height: 270px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 0%;

      background-color: #00a99d;
      opacity: 0.75;

      transition: height 2s;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__links {
    position: absolute;
    top: 29%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    transform: scale(0);

    transition: transform 2s;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    // padding: 15px;

    font-size: 0;

    background-color: #e4e4e4;
    border-radius: 5px;

    transform: rotate(45deg);

    transition: height 0.5s, width 0.5s, background-color 1s;

    @include mq($bp-tablet) {
      width: 30px;
      height: 30px;
    }

    &::before {
      content: '';

      display: inline-block;

      font-size: 16px;
      font-family: $font-family-icons;
      color: #00a99d;

      transform: rotate(-45deg);
    }

    &:hover,
    &:focus,
    &active {
      z-index: 1;

      width: 60px;
      height: 60px;

      background-color: #383838;

      @include mq($bp-tablet) {
        width: 50px;
        height: 50px;
      }

      &::before {
        color: #e3e3e3;
      }
    }
  }

  // .member__name
  &__name {
    z-index: 1;

    margin: -1.5em auto 0.6em;
    padding: 1em;

    line-height: 1.2;
    font-weight: 800;

    font-size: 13px;
    color: #e4e4e4;
    text-transform: uppercase;

    background-color: #00a99d;
    border-radius: 5px;

    transition: background-color 2s;
  }
  // .member__position
  &__position {
    margin-bottom: 7%;

    line-height: 22px;
    font-weight: 500;

    font-size: 12px;
    color: #606060;
  }
  // .member__mail
  &__mail {
    // position: relative;

    display: block;
    margin-bottom: 3%;

    font-weight: 500;
    font-size: 12px;
    color: #aaaaaa;

    cursor: pointer;

    transition: color 0.5s;

    &::before {
      content: '';

      display: inline-block;
      margin-right: 20px;

      font-size: 16px;

      font-family: $font-family-icons;
    }

    &:hover,
    &:focus,
    &:active {
      color: #00a99d;
    }
  }
  // .member__phone
  &__phone {
    display: block;
    margin-bottom: 5%;

    font-weight: 500;
    font-size: 12px;
    color: #aaaaaa;

    cursor: pointer;

    transition: color 0.5s;

    &::before {
      content: '';

      display: inline-block;
      margin-right: 20px;

      font-size: 16px;

      font-family: $font-family-icons;
    }

    &:hover,
    &:focus,
    &:active {
      color: #00a99d;
    }
  }

  &:hover &__img,
  &:focus &__img,
  &:active &__img {
    &::after {
      height: 100%;
    }
  }

  &:hover &__links,
  &:focus &__links,
  &:active &__links {
    transform: scale(1);
    // opacity: 1;
  }

  &:hover &__name,
  &:focus &__name,
  &:active &__name {
    background-color: #383838;
  }
}
