// /* BREACPOINTS */
$bp-phone: 320px;
$bp-phone-wide: 480px;
$bp-tablet: 768px;
$bp-tablet-wide: 1024px;
$bp-desktop: 1200px;

// /* FONTS */
// $font-size: 16px;
// $line-height: 1.5;
$font-family-primary: 'raleway', 'sans-serif';
$font-family-icons: 'ElegantIcons';

// /* COLORS */
// $color-primary-darkest:
// $color-primary-darker:
// $color-primary-darken:
// $color-primary-dark:
// $color-primary-main:
// $color-primary-light:
// $color-primary-lighten:
// $color-primary-lighter:
// $color-primary-lightest:

// // List of colors
// $col: #00a99d; //rgb(0, 169, 157)
// $col: #333333; //rgb(51, 51, 51)
// $col: #383838; //rgb(56, 56, 56)
// $col: #404040; //rgb (64, 64, 64)
// $col: #484848; //rgb(72, 72, 72)
// $col: #606060; //rgb(96, 96, 96)
// $col: #7a7a7a; //rgb(122, 122, 122) = grey
// $col: #8a8a8a; //rgb(138, 138, 138)
// $col: #aaaaaa; //rgb(170, 170, 170)
// $col: #dedede; //rgb(222, 222, 222)
// $col: #e3e3e3; //rgb(227, 227, 227)
// $col: #e4e4e4; //rgb(228, 228, 228)
// $col: #ebebeb; //rgb(235, 235, 235)
// $col: #f9f9f9; //rgb(249, 249, 249)
// $col: #ff0000; //rgb(255, 0, 0)
